

.post-grid-container {
  width: 100%;
  margin: auto;
  text-align: center;
}


.navbar {
  padding: 0.2rem 1rem;
}



/* Witness*/


.witness_disabled {
  color: #95a5a6
}




/* Steem CARD*/
.progress-bar-square {
    border-radius: 0%;
    height: 11px;
}

.bg-opacity8{
    /*opacity: 0.9;*/
    /*background-color: rgba(0, 0, 0, 0.5) !important*/
}

.steem-card-title{
  padding:0rem !important
}

.progress-title{
  padding:0.5rem 0rem 0.1rem 0rem !important
}

/* Steem CARD END */


/* Account CARD*/
.card{
  border:0px;
  background: rgba(0, 0, 0, 0.02)
}

.justify-content-between{
  padding: 0.4rem 0.6rem;
  /*border:0px;*/
  /*background: rgba(0, 0, 0, 0.02)*/
}

.pthumbnail {
  border-radius: 100%;
  width:30px;
  height:30px;
}

.alive-1{
  color:#18BC9C;
}

.alive-2{
  color:#F39C12;
}

.alive-3{
  color:#95a5a6;
}

/* Account CARD END */


.font-08 {
  font-size:0.8rem;
}


.m-l-15 {
  margin-left:15px;
}

.m-r-15 {
  margin-right:15px;
}


.text-muted-mutable {
  color:#95a5a6 !important;
}

.text-primary-mutable {
  color: rgba(0, 0, 0, 0.9) !important;
  font-weight: bold;
}


.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.td-small-font {
  font-size:0.8rem;
}

.td-border0 {
  border-top:0px !important;
}

.border-bottom0 {
  border-bottom:0px;
}

.padding5rem {
  padding:0.5rem;
}

.my-card-header {
  padding:0.2rem 0.5rem;
  border-bottom:0px;
}





.page-link {
  background-color: #fff;
  border-width: 1px;
}

.page-link:hover {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);

  border-width: 1px;
}

.page-item.active .page-link {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  border-width: 1px;
}


.page-item.active .page-link:hover {
  color:#fff;
}


/**/

.navbar2 {
    background-color: #fff;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 200; 
    opacity: 0.98;
}

/* Style the navbar links */
.navbar2 a {
    float: left;
    display: block;
    color: #95a5a6;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar2 a:hover {
    /*background-color: #fff;*/
    color: black;
}


/**/

.td-total-style {
  padding:0.3rem 0.6rem 0.3rem 0.0rem !important;
  text-align:right !important;
}

.td-style {
  padding:0.5rem 0.6rem 0.5rem 0.0rem !important;
  text-align:right !important;
}

.td-title-style {
  text-align:right !important;
}

.td-small-style {
  padding:0.3rem 0.0rem 0.3rem 0.0rem !important;
  text-align:right !important;
}


.td-end-style {
  padding:0.3rem 0.5rem 0.3rem 0.0rem !important;
  text-align:right !important;
}

.td-start-style {
  padding:0.3rem 0.5rem 0.3rem 0.0rem !important;
  text-align:left !important;
}





/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-pulse"></div>
 *
 */
.sk-spinner-pulse.sk-spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #f39c12;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}
@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}







.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* 애니메이션 진입 및 진출은 다른 지속 시간 및  */
/* 타이밍 기능을 사용할 수 있습니다. */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}





/*.table-light,
.table-light > th,
.table-light > td {
  background-color: #F0F0EE;
}
*/
.text-red {
  color: #f44336;
}

.text-blue {
  color: #3f51b5;
}


.col-centered {
   display:inline-block;
   float:none;
   /* reset the text-align */
   text-align:left;
   /* inline-block space fix */
   /*margin-right:-4px;*/
}


@media (min-width: 576px) {
  .container {
    max-width: 96vw;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 96vw;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 96vw;
  }
}

@media (min-width: 1081px) {
  .container {
    max-width: 86vw;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 78vw;
  }
}


/*

@media (max-width: 768px) {
    .post-grid-width{
        width : 33.333vw;
        height : 33.333vw;
        margin: 0px;
    }
}

@media (min-width: 768px) {
    .post-grid-width{
        width : 30vw;
        height : 30vw;
        margin: 5px;
    }
}


@media (min-width: 992px) {
    .post-grid-width{
        width : 30vw;
        height : 30vw;
        margin: 5px;
    }
}

@media (min-width: 1200px) {
    .post-grid-width{
        width : 30vw;
        height : 30vw;
        margin: 5px;
    }
}*/



@media (max-width: 175.98px) {
  .navbar-expand-xs > .container,
  .navbar-expand-xs > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 176px) {
  .navbar-expand-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-xs .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-xs .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xs .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .navbar-expand-xs .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xs > .container,
  .navbar-expand-xs > .container-fluid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-xs .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-xs .navbar-toggler {
    display: none;
  }
  .navbar-expand-xs .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}




/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 30px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    opacity: 0.8;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 0.8;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 0.8;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 0.8;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 0.8;}
    to {bottom: 0; opacity: 0;}
}
